<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Image Speech
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img [src]="image"></ion-img>
  
  <ion-button expand="full" (click)="captureImage()" >Capture image</ion-button>
  <ion-button expand="full" (click)="recognizeImage()" [disabled]="!workerReady" >Recognize image</ion-button>

  <ion-card *ngIf="workerReady && captureProgress > 0"  >
    <ion-card-header >
      <ion-card-title>
        Capture progress: {{captureProgress}}%
      </ion-card-title>
    </ion-card-header>
    <ion-card-content >
      {{ocrResult}}
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="convertTextToSpeech()" [disabled]="ocrResult === undefined" >
    Speech&nbsp;
    <ion-icon name="mic-outline"></ion-icon>
  </ion-button>

  <form >
    <ion-item>
      <ion-label>Image Language:</ion-label>
      <ion-input type="text" [(ngModel)]="langImage" name="langImage"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Speech Language:</ion-label>
      <ion-input type="text" [(ngModel)]="langSpeech" name="langSpeech"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Speech Rate:</ion-label>
      <ion-input type="number" [(ngModel)]="speechRate" name="speechRate"></ion-input>
    </ion-item>
  </form>
  
</ion-content>
